<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988811633989-4e2j4hel1prkl63naa71g33e7e0cgv05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988811633989-4e2j4hel1prkl63naa71g33e7e0cgv05</string>
	<key>API_KEY</key>
	<string>AIzaSyA_euMfE96lHXUe-9ARRA_L4hsFcQSIi6g</string>
	<key>GCM_SENDER_ID</key>
	<string>988811633989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flipAndFlash</string>
	<key>PROJECT_ID</key>
	<string>flip-and-flash</string>
	<key>STORAGE_BUCKET</key>
	<string>flip-and-flash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988811633989:ios:db6c0f9472332ffdef4a2c</string>
</dict>
</plist>